label {
    display:block;
    margin-top:20px;
    letter-spacing:2px;
}

/* Center the page */
.body {
    display:block;
    margin:0 auto;
    width: auto;
}

/* Center the form within the page */
form {
    margin:0 auto;
    width: auto;
}

h1 {
    margin-top: 75px;
}

form h1, label {
    color: #FF7F50;
    font-weight: bold;
}

/* Style the text boxes */
input, textarea {
    width:500px;
    height:27px;
    background:#efefef;
    border:2px solid #FF7F50;
    padding:10px;
    margin-top:3px;
    margin-bottom: 15px;
    font-size:0.9em;
    color:#3a3a3a;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    input, textarea {
        width:150px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    input, textarea {
        width:250px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    input, textarea {
        width:350px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    input, textarea {
        width:450px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    input, textarea {
        width:600px;
    }
}

textarea {
    height:125px;
}

input:focus, textarea:focus {
    border:1px solid #97d6eb;
}

.submit-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

#submit {
    width:200px;
    height:50px;
    background-color:#FF7F50;
    color: #FFFFFF;
    border:none;
    cursor:pointer;
    box-shadow: -1px -1px 30px rgba(0,0,0,0.2), 2px 2px 5px rgba(0,0,0,0.2),
    10px 10px 15px rgba(0,0,0,0.2),
    -1px -1px 30px rgba(0,0,0,0.2);
    text-transform: uppercase;
}

#submit:hover {
    opacity:.9;
    background-color:#FFFFFF;
    color: #FF7F50;
    border:2px solid #97d6eb;
    font-weight: bold;
}

.alert-success {
    color: #FF7F50;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
}

.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
  }
  
  .checkmark {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin-left: 15px;
    margin-bottom: 15px;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
  }
  
  .checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
  }
  
  @keyframes stroke {
    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes scale {
    0%, 100% {
      transform: none;
    }
    50% {
      transform: scale3d(1.1, 1.1, 1);
    }
  }
  @keyframes fill {
    100% {
      box-shadow: inset 0px 0px 0px 30px #7ac142;
    }
  }