/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
    border-radius: 0 0 10px 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2),
        10px 10px 15px rgba(0,0,0,0.3),
        -1px -1px 30px rgba(0,0,0,0.2);
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
    display: none;
}

#myLinks a {
    font-size: 23px;
}

/* Style navigation menu links */
.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    font-size:30px;
}

/* Style the hamburger menu */
.topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
    background-color: white;
    color: #FF6347;
}

/* Style the active link (or home/logo) */
.active {
    background-color: #FF6347;
    color: white;
}

body {
    min-height: 700px;
    min-width: 330px;
    margin-bottom: 50px;
    clear: both;
}

html, body {
    background-color: #fff;
    color: #FFFFFF;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    margin: 0;
    height: 100vh;
}

.full-height {
    height: 100vh;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.footer div a {
    color: #FFFFFF;
    padding: 0 25px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.footer {
    position: fixed;
    padding-top: 20px;
    padding-bottom: 20px;
    left: 0;
    bottom: 0;
    min-height: 23px;
    width: 100%;
    background-color: #FF6347;
    text-align: center;
    border-radius: 10px 10px 0 0;
    box-shadow: -1px -1px 30px rgba(0,0,0,0.5), 
        2px 2px 5px rgba(0,0,0,0.5),
        10px 10px 15px rgba(0,0,0,0.5),
        -1px -1px 30px rgba(0,0,0,0.2);
    flex-flow: column wrap;
}

.footer:hover {
    background-color: white;
    color: #FF6347;
}

.footer:hover div a {
    color: #FF6347;
}